.supportSection {
  display: flex;
  justify-content: center;
  align-items: center;
  .supportDiv {
    max-width: 1500px;
    width: 100%;
    // min-width: 400px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 2rem;
    .supportText {
      text-align: left;
      padding: 2rem;
      h2 {
        font-size: 2.5rem;
      }
      p {
        font-size: 1.25rem;
        font-weight: 400;
        padding: 1rem 0;
      }
    }
    .supportMsg{
      display: grid;
      gap: 20px;
      padding: 2rem;
      
      .msg{
        display: flex;
        // grid-template-columns: 70px auto;
        box-sizing: border-box;
        border-radius: 1rem;
        box-shadow: 1px 1px 10px  #888888;
        padding: 1rem;
        text-align: center;
        margin-left: -2rem;
        
      }
      .msgRevarse{
        display: flex;
        // grid-template-columns: 70px auto;
        box-sizing: border-box;
        border-radius: 1rem;
        box-shadow: 1px 1px 10px  #888888;
        padding: 1rem;
        flex-direction: row-reverse;
        margin-right: -2rem;
      }
    }
  }
}
@media (max-width:1024px) {
 .supportDiv{
  flex-direction: column;
 } 
}
