.weSection {

    padding: 4rem 0;

    .weContainer {
        max-width: 1500px;
        width: 100%;
        min-width: 350px;
        padding: 0 2rem;
        text-align: center;


        .cardDiv {
            display: grid;
            grid-template-columns: auto auto auto auto;
            padding-top: 2rem;

            @media (max-width: 1200px) {
                grid-template-columns: auto auto auto;
            }

            @media (max-width: 650px) {
                grid-template-columns: auto auto;
            }

            @media (max-width: 480px) {
                grid-template-columns: auto;
            }

            .card {
                max-width: 300px;
                width: 100%;
                // flex-basis: 20%;
                min-width: 170px;
                border: 1px solid gray;
                border-radius: 10px;
                overflow: hidden;
                margin-bottom: 5%;


                &:not(:last-child) {
                    margin-right: 10px;
                }

                .textContainer {
                    display: flex;
                    justify-content: space-between;
                    padding: 0 1rem;
                }
            }
        }
    }
}

.imgContainer {
    position: relative;
    height: 200px;
}