.weSection {
  display: flex;
  justify-content: center;
  padding: 4rem 0;

  .weContainer {
    max-width: 1500px;
    width: 100%;
    min-width: 350px;
    padding: 0 2rem;
    text-align: center;
    font-size: 4rem;
    h1 {
      font-size: 3rem;
    }

    .cardDiv {
      display: grid;
      grid-template-columns: auto auto auto auto;
      padding-top: 3rem;
      column-gap: 3rem;

      @media (max-width: 1200px) {
        grid-template-columns: auto auto auto;
      }

      @media (max-width: 750px) {
        grid-template-columns: auto auto;
        column-gap: 2rem;
        min-width: 20rem;
      }

      @media (max-width: 480px) {
        grid-template-columns: auto;
      }

      .card {
        width: 100%;
        border: 1px solid gray;
        border-radius: 10px;
        overflow: hidden;

        margin-bottom: 3rem;
        transition: all ease 0.2s;

        &:hover {
          transform: translateY(20px);
          transition: all ease 0.4s;
        }

        &:not(:last-child) {
          margin-right: 5rem;
        }

        .textContainer {
          display: flex;
          justify-content: space-between;
          padding: 1rem 1rem;
          font-size: 2rem;
        }
      }
    }
  }
}

.imgContainer {
  position: relative;
  height: 200px;
}
